// Admin
//
// Stylesheet 9
.admin {
  .admin__sidebar {
    border-right: 1px solid $color-black;
    margin-right: $measure-large;
  }

  .admin__content {
    padding: $measure-large;
  }
}

// Toolbar
//
// Stylesheet 9.1
.admin__toolbar {
  @include clearfix;

  background-color: $color-gallery;
  border-radius: $border-radius;
  display: inline-block;
  margin: $measure-large 0;
  padding: $measure-normal;
  width: auto;
}

.admin__toolbar__button {
  background-color: $color-white;
  border-radius: $border-radius;
  display: inline-block;
  font-family: $font-sans-serif;
  float: left;
  padding: $measure-normal;
  text-decoration: none;

  & + & {
    margin-left: $measure-normal;
  }
}
