
.blog__content {
  margin: auto;
  max-width: 35em;

  @media(max-width: $screen-sm-max) {
    padding: 1vh 3vh;
  }
}

.blog__post {
  padding-top: 25px;
  margin-bottom: 25px;

  h2 {
    font-size: $font-size-large;
    margin-bottom: $measure-large;

    a {
      text-decoration: none;
    }
  }

  & + & {
    border-top: 1px solid $color-gallery;
  }
}

.blog__post__date {
  font-family: $font-sans-alternative;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.blog__post__content {
  font-family: $font-serif;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  line-height: $line-height-large;
  margin-top: $measure-xlarge;


  p {
    @include readable;
  }
}