// Header
//
// Styleguide 3.5
.header {
  background-color: $color-yellow;
  box-shadow: $floating-box;
  height: $header-height;
  left: 0;
  max-height: $header-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__logo {
  float: left;
  margin-left: $measure-xlarge;
  padding: $measure-thin;

  a {
    color: $color-black;
    font-family: $font-sans-serif;
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    text-decoration: none;
    vertical-align: middle;
  }
}

.header__logo_image {
  display: inline-block;
  height: ($header-height - 2 * $measure-thin);
  vertical-align: middle;
}

.header__links {
  margin-right: $measure-xlarge;
  padding-top: $measure-thin;

  ul {
    display: block;
    float: right;
    margin-top: $measure-thin;

    @media(max-width: $screen-xs-max) {
      display: none;
    }

    li {
      display: inline-block;

      a {
        border: 2px solid $color-black;
        display: block;
        margin-left: $measure-large;
        padding: $measure-normal $measure-large;
        text-decoration: none;

        transition: all .2s;

        &:hover {
          background-color: $color-white
        }
      }
    }
  }
}

// TODO vendor prefixes
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}