// Home
//
// Styleguide 3.1
.home {

}

.home__welcome {
  background-color: $color-silver;
  background-image: url(/images/iphone-blurred.jpg);
  background-size: cover;
}

.home__welcome_panel {
  min-height: 90vh;
  padding: 10vh $measure-xlarge;
  text-align: center;

  * {
    @extend .inverse;
    text-align: center;
  }

  h1 {
    border-bottom: $measure-thin solid $color-white;
    display: inline-block;
    margin-bottom: 5vh;
    text-shadow: 0 0 100px black;
  }

  h2 {
    margin-bottom: 5vh;
  }

  h3 {
    margin-bottom: 5vh;
  }
}

.home__about {
  background-color: $color-yellow;
  padding: 6vh;
  text-align: center;

  p, blockquote {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-feather;
  }

  cite {
    display: block;
    margin-top: $measure-xlarge;
  }
}

.home__packages, .home__share {
  background-color: $color-gallery;
  background-image: url(/images/temp-abstract-background-white.png);
  background-size: cover;
  padding: 6vh $measure-xlarge;
  text-align: center;

  p {
    font-size: $font-size-xlarge;
    line-height: $line-height-xlarge;
  }
}

.home__packages_pack {
  @include clearfix;
  @include responsive-width(50%, 60%, 80%, 90%);

  background-color: rgba($color-yellow, .8);
  border-radius: 0;
  box-shadow: $floating-box;
  padding: $measure-large;
  margin: $measure-xlarge auto;
  text-align: left;

  img {
    margin-right: $measure-xlarge;
  }

  p {
    font-size: $font-size-medium + 3;
  }

  ul {
    @extend ul;

    li {
      @extend ul.pills;
    }
  }
}

.home__signup {
  @extend .text-center;

  background-color: $color-lochmara;
  padding: 6vh;

  h3 {
    color: $color-text-on-blue;
    font-weight: $font-weight-medium;
    margin-bottom: $measure-xlarge;
  }
}

.home__circuits {
  @extend .text-center;

  background-color: $color-mine-shaft;
  padding: 6vh;

  h2 {
    @extend .inverse;

    font-size: $font-size-xlarge;
  }
}

.home__circuit {
  @include clearfix;
  @include responsive-width(50%, 60%, 80%, 90%);

  margin: $measure-xlarge auto;

  [class^="column"],
  [class*=" column"] {
    text-align: center;
    vertical-align: middle !important;
  }
}

.home__circuit_light,
.home__circuit_circuit,
.home__circuit_mobile {
  float: left;

  .fa {
    font-size: 200px;
    color: $color-gallery;

    transition: all 0.2s;

    &.on {
      color: $color-yellow;
      text-shadow: 0 0 18px rgba($color-yellow, .5);
    }
  }
}

.home__circuit_light_text,
.home__circuit_circuit_text,
.home__circuit_mobile_text {
  float: right;

  p {
    @extend .inverse;

    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.home__biology {
  @extend .text-center;

  background-color: $color-lochmara;
  padding: 6vh;

  h2 {
    color: $color-text-on-blue;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-light;
  }

  h3, p {
    color: $color-text-on-blue;
  }

  .row {
    @include responsive-width(50%, 60%, 80%, 50%);

    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;

    @media (max-width: $screen-xs-max) {
      & + .row {
        margin-top: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .column-xs {
      margin-bottom: $measure-xlarge;
    }
  }

  img {
    margin: 0 auto;
  }
}


.home__rest {
  @include clearfix;
  @extend .text-center;

  background-color: $color-gallery;
  padding: 6vh;

  .row {
    @include responsive-width(50%, 60%, 80%, 90%);
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $screen-xs-max) {
    .column-xs {
      margin-top: $measure-xlarge;
    }
  }

  h2, h3 {
    text-align: center;
  }
}

.home__rest_icon {
  font-size: 100px;
  margin-top: 6vh;

  @media (max-width: $screen-xs-max) {
    margin-top: $measure-xlarge;
  }
}