// Sign Up
//
// Styleguide 3.3
.sign-up {
  @extend .blue-backdrop;
}

#mc_embed_signup {
  @extend .panel;

  .indicates-required {
    float: right;
    font-family: $font-sans-alternative;
    font-size: $font-size-medium;
  }

  .mc-field-group {
    margin: $measure-xlarge 0;
  }

  .mce_inline_error {
    font-family: $font-sans-serif;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    padding: $measure-normal;
  }

  .response {
    font-family: $font-sans-serif;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $measure-xlarge;
  }
}

.sign-up__link-back {
  @include responsive-width(50%, 60%, 80%, 90%);
  margin: $measure-xlarge auto;

  a {
    color: $color-text-on-blue;
    font-family: $font-sans-alternative;
    font-size: $font-size-medium;
  }
}

