<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thank You for Your Message!</title>
    <link href="../../../public/css/email.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <!-- Body -->
                <span class="preheader">{{$thankYouTitle}}</span>
                <table class="main">
                    <tr>
                        <td class="wrapper">
                            <table>
                                <tr>
                                    <td>
                                        <h2>{{$thankYouTitle}}</h2>

                                        <p>{{$thankYouMessage}}</p>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- /Body -->
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
