<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thank You for Your Message!</title>
    <link href="../../../public/css/email.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
<table class="body">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <!-- Body -->
                <span class="preheader">{{$thankYouTitle or 'Thank You!'}}</span>
                <table class="main">
                    <tr>
                        <td class="paugme_wrapper">
                            <div class="paugme_image">
                            </div>
                            <h1><a href="http://paugme.com/">Paugme Packs</a></h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="header_wrapper">
                            <div class="header_image">
                                <table class="header_container">
                                    <tr>
                                        <td class="header_content">
                                            <h2>{{$thankYouTitle or 'Thank You!'}}</h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wrapper">
                            <table>
                                <tr>
                                    <td>
                                        <p>{{$thankYouMessage or ''}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- /Body -->
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>