// Columns
//
// Styleguide 3

$number_of_columns: 12;
$number_of_gutters: $number_of_columns - 1;
$gutter_space: 3.0%;
$column_space: (100.0 - $gutter_space * $number_of_gutters) / $number_of_columns;

.row,
.row-fluid {
  @include clearfix;
}

.row-same-height {
  display: table;
  width: 100%;
}

[class^="column"],
[class*=" column"] {
  float: left;

  & + & {
    margin-left: $gutter-space;
  }

  &.push {
    float: right;
  }
}

@include column('.one-quarter', .25);
@include column('.one-third', .333333333);
@include column('.one-half', .5);
@include column('.two-thirds', .6666666667);
@include column('.three-quarters', .75);
