// Forms
//
// Styleguide 5

input[type=text],
input[type=email],
textarea {
  border: 1px solid $color-gallery;
  border-radius: $border-radius;
  color: $color-black;
  font-family: $font-sans-serif;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  margin-bottom: $measure-large;
  margin-top: $measure-normal;
  padding: $measure-large;
  width: 100%;
}

label {
  font-family: $font-sans-alternative;
  font-size: $font-size-medium;
  margin-bottom: $measure-large;
}

.form-group {

  input[type=text] {
    text-align: left;
  }
}
