// Forms
//
// Styleguide 5

input[type=text],
input[type=email],
input[type=password],
textarea {
  border: 1px solid $color-gallery;
  border-radius: $border-radius;
  color: $color-black;
  font-family: $font-sans-serif;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  margin-bottom: $measure-large;
  margin-top: $measure-normal;
  padding: $measure-large;
  width: 100%;

  &.input-large {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    line-height: $line-height-large;
    padding: (2 * $measure-large) (3 * $measure-large);
  }
}

label {
  font-family: $font-sans-alternative;
  font-size: $font-size-medium;
  margin-bottom: $measure-large;
}

.input-group {
  margin-bottom: $measure-large;

  label {
    display: inline-block;
    margin-right: $measure-normal;
    margin-top: $measure-large;
    text-align: right;
    vertical-align: top;
    width: 125px;
  }

  input,
  textarea {
    margin-top: 0;
  }

  input {
    width: auto;
  }

  input[type=text] {
    text-align: left;
  }

  textarea {
    display: inline-block;
    width: auto;
  }

  &.multiline {
    label {
      display: block;
      text-align: left;
      width: auto;
    }
  }
}