// Home
//
// Styleguide 3.1
.home {

}

.home__welcome {
  background-image: url(/images/iphone-blurred.jpg);
  background-size: cover;
  height: 90vh;
  position: relative
}

.home__welcome_card {
  background-color: rgba( $color-mine-shaft, .3 );
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

.home__welcome_panel {
  bottom: 0;
  left: 0;
  max-height: 90vh;
  padding: 20vh $measure-xlarge;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  * {
    @extend .inverse;
    text-align: center;
  }

  h1 {
    border-bottom: $measure-thin solid $color-white;
    display: inline-block;
    margin-bottom: 5vh;
  }

  h2 {
    margin-bottom: 5vh;
  }

  h3 {
    margin-bottom: 5vh;
  }
}

.home__about {
  background-color: $color-yellow;
  padding: 6vh;
  text-align: center;

  blockquote {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-feather;
  }

  cite {
    display: block;
    margin-top: $measure-xlarge;
  }
}

.home__packages {
  background-color: $color-gallery;
  background-image: url(/images/temp-abstract-background-white.png);
  background-size: cover;
  padding: 10vh $measure-xlarge;
  text-align: center;

  p {
    font-size: $font-size-xlarge;
    line-height: $line-height-xlarge;
  }
}

.home__packages_pack {
  @include clearfix;
  @include responsive-width(50%, 60%, 80%, 90%);

  background-color: rgba($color-yellow, .8);
  border-radius: 0;
  box-shadow: 3px 2px 4px rgba(100,100,100,0.8);
  padding: $measure-large;
  margin: $measure-xlarge auto;
  text-align: left;

  img {
    margin-right: $measure-xlarge;
  }

  p {
    font-size: $font-size-large;
  }

  ul {
    @extend ul;

    li {
      @extend ul.pills;
    }
  }
}

.home__signup {
  @extend .text-center;

  background-color: $color-lochmara;
  padding: 6vh;
}

.home__circuits {
  @extend .text-center;

  background-color: $color-mine-shaft;
  padding: 6vh;

  h2 {
    @extend .inverse;

    font-size: $font-size-xlarge;
  }
}

.home__circuit {
  @include clearfix;
  @include responsive-width(50%, 60%, 80%, 90%);

  margin: $measure-xlarge auto;

  [class^="column"],
  [class*=" column"] {
    text-align: center;
    vertical-align: middle !important;
  }
}

.home__circuit_light,
.home__circuit_circuit,
.home__circuit_mobile {
  float: left;

  .fa {
    font-size: 200px;
    color: $color-gallery;

    transition: all 0.2s;

    &.on {
      color: $color-yellow;
      text-shadow: 0 0 18px rgba($color-yellow, .5);
    }
  }
}

.home__circuit_light_text,
.home__circuit_circuit_text,
.home__circuit_mobile_text {
  float: right;

  p {
    @extend .inverse;

    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.home__biology {
  @extend .text-center;

  background-color: $color-lochmara;
  padding: 6vh;

  h2 {
    font-size: $font-size-xlarge;
  }

  .row {
    @include responsive-width(50%, 60%, 80%, 50%);

    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
  }

  img {
    margin: 0 auto;
  }
}

