// Colors
//
// This is the color palette for the application
//
// Styleguide 1.1

// Color Scheme
$color-white:  #fff;
$color-blue:   #039;
$color-yellow: #fc0;
$color-black:  #333;
$color-red:    #911;

$color-text-on-blue:   $color-white;
$color-text-on-yellow: $color-black;
$color-text-on-red:   $color-white;

// Additional Colors
$color-lochmara: #0288d1;

// Grays
$color-mine-shaft: #222;
$color-tundora:    #444;
$color-silver:     #ccc;
$color-gallery:    #efefef;